@media (max-width:1200px){

}
@media (max-width: 991px) {
    .header {
        padding: 0 20px;
    }
    .promo {
        &__wrapper {
            padding: 0 20px;
        }
    }
    .advantages {
        &__wrapper {
            padding: 0 20px;
        }
    }
    .consultation {
        &__wrapper {
            padding: 0 20px;
        }
        .title_left {
            margin-left: 20px;
        }
    }
    .catalog {
        .container {
            padding: 0 20px;
        }
    }
    .feed {
        .container {
            padding: 0 20px;
        }
    }
    
}
@media (max-width: 767px) {
    .header {
        &__logo {
            width: 200px;
        }
        &__official {
            font-size: 10px;
            span {
                font-size: 10px; 
            }
        }
        &__phone {
        font-size: 10px;
        }
        .button {
        width: 100px;
        height: 20px;
        font-size: 8px;
        }

    }
    .promo {
        &__header {
            font-size: 30px;
            text-align: center;
        }
        &__icons {
            width: 100%;
        }
    }
    .advantages {
        &__wrapper {
            padding: 20px 0 80px 0;
            display: flex;
            flex-direction: column;
        }
        &__item {
            margin: 10px auto;
        }
    }
    .carousel {
        img {
            width: 80%;
        }
    }
    
    
}
@media (max-width: 575px) {
    .promo {
        &__subheader {
            font-size: 20px;
            text-align: center;
        }
        .button_main {
            margin: 0 auto;
            margin-top: 37px;
            width: 250px;
            }  
        &__link {
            margin: 0 auto;
            font-size: 10px;
            margin-top: 12px;
        }    
        }
        
    .title {
        font-size: 20px;
    }
    .catalog {
        &__content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .container{
            padding: 0 20px;
        }
        &__tab {
            div {
                font-size: 11px;
            }
        }
    }
    .feed {
        &__item {
            .feed__img {
                width: 100px;
                height: 100px;
            }
            .feed__text {
                margin-left: 10px;
                padding-right: 10px;
            }
            .feed__descr {
                font-size: 11px;
            }
        }
        
    }
    .overlay {
        max-width: 100%;
        .modal {
            max-width: 230px;
            &__close {
                top: 10%;
            }
        }

    }
    .feed-form{
        &_mt25 {
            max-width: 150px;
        }
    }
}
@media (max-width: 373px) {
    .header {
        &__official {
            display: none;
        }
        &__logo {
            width: 150px;
        }
    }
    .consultation {
        .feed-form{
            width: 250px;
        }
    }
    .catalog {
        &__tab {
            div {
                font-size: 8px;
            }
        }
        &-item {
            max-width: 100%;
        }
    }
    .footer {
        .footer__info{
            .footer__info__addr {
                font-size: 18px;
            }
        }
    }
    
}